:root {
  --background: #ffffff;
  --hero-title: #ffffff;
  --text-one--title-two--title-three--title-name--title-small: #212121;
  --text--small-text: #757575;
  --color-link: #2196f3;
  --main-color: #212121;
}

body {
  background: var(--background);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
}
.page-header {
  background: var(--background);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
}
ul {
  list-style: none;
}
.logo-web {
  color: var(--color-link);
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 119%;
}
.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 119%;
}
.logo-two {
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 119%;
}
.site-nav {
  color: var(--main-color);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
}
.site-nav:hover,
.site-nav:focus,
.site-nav:active {
  color: var(--color-link);
}
.open-link {
  color: var(--main-color);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
}
.open-link:hover,
.open-link:focus,
.open-link:active {
  color: var(--color-link);
}
.open {
  color: var(--color-link);
  text-decoration: none;
}
.open:hover,
.open:focus,
.open:active {
  color: var(--color-link);
}
.hero {
  background: #2f303a;
}
.hero-blok {
  color: #eeeeee;
}
.botton {
  color: var(--main-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  background: #f5f4fa;
}
.botton:hover,
.botton:focus,
.botton:active {
  background: var(--color-link);
  color: var(--hero-title);
}

.hero-title {
  color: var(--hero-title);
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-transform: uppercase;
}
.botton-studio {
  color: var(--hero-titl);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  background: var(--color-link);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-link {
  color: var(--text--small-text);
  text-decoration: none;
}
.page-link:hover,
.page-link:focus,
.page-link:active {
  color: var(--color-link);
}
.text-one {
  color: var(--text-one--title-two--title-three--title-name--title-small);
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  text-transform: uppercase;
}
.text {
  color: var(--text--small-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
}
.title-two {
  color: var(--text-one--title-two--title-three--title-name--title-small);
  font-weight: 700;
  font-size: 36px;
  line-height: 116%;
}
.team {
  background: #f5f4fa;
}

.title-three {
  color: var(--text-one--title-two--title-three--title-name--title-small);
  font-weight: 700;
  font-size: 36px;
  line-height: 116%;
}
.title-name {
  color: var(--text-one--title-two--title-three--title-name--title-small);
  font-weight: 500;
  font-size: 16px;
  line-height: 118%;
}
.title-small {
  color: var(--text-one--title-two--title-three--title-name--title-small);
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  text-decoration: none;
}
.small-text {
  color: var(--text--small-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  text-decoration: none;
}
.photo {
  text-decoration: none;
}
.footer {
  background: #2f303a;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-decoration: none;
  font-style: normal;
}
.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  color: var(--color-link);
}
.footer-address {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  font-style: normal;
}
